CODECOV_TOKEN="[ADD YOUR CODECOV TOKEN HERE]"
AIRTABLE_API_KEY=[TYPE AIRTABLE CODE HERE]
PORT=[PORT HERE]
CLOUDINARY_CLOUD_NAME=[CLOUD NAME HERE]
CLOUDINARY_API_KEY=[KEY HERE]
CLOUDINARY_API_SECRET=[SECRET HERE]
